html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    display: inline-block;
    border: none;
    height: 100%;
    padding: 24px;
    width: calc(40% - 280px);
    float: left;
    background: #222;
    color: #f4f4f4;
    outline: 0;
    resize: none;
}

iframe {
    border: none;
    height: calc(100% - 42px);
    width: 60%;
    float: right;
    box-shadow: 0 0 24px 8px rgba(30, 30, 30, .17);
}

form {
    margin: 0;
    background: #e3b16d;
    padding: 0 12px 12px;
}

#search {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0 16px;
    font-size: 1rem;
    font-family: monospace;
    line-height: 42px;
    outline: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#url {
    height: 42px;
    width: 60%;
    float: right;
    color: #e3b16d;
    background: #2e2d37;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: monospace;
    line-height: 42px;
    padding: 0 24px;
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
    padding: 8px 16px;
    color: #2e2d37;
    text-transform: uppercase;
    letter-spacing: .07rem;
}

h1 {
    background: #e3b16d;
    font-size: 1.24rem;
}

h2 {
    font-size: 1.16rem;
    padding-top: 16px;
    box-shadow: 0 0 12px 4px rgba(30, 30, 30, .12);
}

.tabs {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 280px;
    float: left;
    font-family: monospace;
    background: #2e2d37;
    list-style: none;
    box-sizing: border-box;
    box-shadow: 0 0 24px 8px rgba(30, 30, 30, .17);
}

.tabs li {
    padding: 12px 16px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #3b3a47;
    transition: color .3s;
    box-sizing: border-box;
    line-height: 24px;
}

.tabs li:hover {
    color: #e3b16d;
}

.tabs li small {
    display: block;
    font-weight: normal;
    color: #ccc;
    line-height: 14px;
}

.wikidata {
    color: #48b8bb;
    border-bottom: 2px solid #48b8bb;
}

.wikidata-entry {
    color: #48b8bb;
}

.wikipedia {
    color: #cc4b8c;
    border-bottom: 2px solid #cc4b8c;
}

.wikipedia-entry {
    color: #cc4b8c;
}

.wikispecies {
    color: #7ea814;
    border-bottom: 2px solid #7ea814;
}

.wikispecies-entry {
    color: #7ea814;
}
