html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 16px;
    background: #1d1c23;
}

i {
    font-style: normal;
    margin-right: 8px;
    font-size: 24px;
    float: left;
    line-height: 18px;
    user-select: none;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}

.data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    box-shadow: inset 0 0 24px 8px rgba(30, 30, 30, .17);
    box-sizing: border-box;
    margin-right: 16px;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
}

.response-header {
    height: 44px;
    width: 100%;
    background: #502e74;
    color: #fafafa;
    font-size: 1.2rem;
    font-family: monospace;
    line-height: 44px;
    padding: 0 12px;
    box-sizing: border-box;
    border-radius: 12px 12px 0 0;
    text-transform: uppercase;
    letter-spacing: .07rem;
    box-shadow: 0 0 24px 8px rgba(30, 30, 30, .17);
}

.response-header i {
    font-size: 20px;
    line-height: 42px;
}

#response {
    display: inline-block;
    border: none;
    padding: 24px;
    width: 100%;
    flex-grow: 10;
    background: #332641;
    color: #f4f4f4;
    outline: 0;
    resize: none;
    box-sizing: border-box;
}

.browser {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 24px 8px rgba(30, 30, 30, .17);
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 12px 12px 0;
    overflow: hidden;
}

#iframe {
    border: none;
    width: 100%;
    flex-grow: 10;
}

#iframe-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.33);
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
}

.url-wrapper {
    height: 42px;
    width: calc(100% - 24px);
    color: #fafafa;
    background: #2e2d37;
    font-size: .96rem;
    font-family: monospace;
    line-height: 42px;
    padding: 0 12px;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 12px;
}

.url-wrapper i {
    line-height: 40px;
    font-size: 20px;
}

.tabs {
    margin: 0;
    padding: 0;
    flex-basis: 280px;
    font-family: monospace;
    background: #2e2d37;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: 0 0 24px 8px rgba(30, 30, 30, .17);
    border-radius: 12px 0 0 12px;
}

.search-form {
    margin: 0 0 16px;
    background: #e3b16d;
    padding: 12px;
    position: relative;
    border-radius: 12px;
}

.search-form i {
    width: 44px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    margin: 0;
    position: absolute;
    font-size: 22px;
}

#search {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0 16px 0 44px;
    font-size: .96rem;
    font-family: monospace;
    line-height: 42px;
    outline: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 24px 8px rgba(30, 30, 30, .17);
    border-radius: 6px;
}

.tabs h1, .tabs h2 {
    margin: 0;
    padding: 8px 16px;
    color: #2e2d37;
    text-transform: uppercase;
    letter-spacing: .07rem;
}

.tabs h1 {
    background: #e3b16d;
    font-size: 1.24rem;
}

.tabs h2 {
    font-weight: normal;
    font-size: 1.1rem;
    padding: 12px 16px;
    color: #fafafa;
    background: #31303b;
    box-shadow: 0 -4px 16px 6px rgba(20, 20, 20, .15);
}

.tabs h4 {
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    color: #778;
}

.tabs ul {
    margin: 0 0 8px;
    padding: 0;
    list-style: none;
}

.tabs li {
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #3b3a47;
    transition: color .3s;
    box-sizing: border-box;
}

.tabs li:last-child {
    border-bottom: 0;
}

.tabs li:hover {
    color: #e3b16d;
}

.tabs li span {
    display: inline-block;
    line-height: 16px;
}

.tabs li small {
    display: block;
    color: #bbb;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.tabs li span + small {
    margin-top: 4px;
}

.tabs .entry-wikidata {
    color: #48b8bb;
}

.tabs .entry-wikipedia {
    color: #cc4b8c;
}

.tabs .entry-wikispecies {
    color: #7ea814;
}
